<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.com/photos/DuBNA1QMpPA');">
  <div class="banner-content">
    <h1>Consommer moins et mieux</h1>
    <h4>Tu veux réduire simplement tes factures d'énergie ?</h4>
    <a class="btn btn-primary btn-lg">Inscription</a>
    <p class="about">
      <%#= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.com/photos/ixyU201YBP8');"> -->
<div class="banner" >
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="content-center-align">
          <div class="col-xs-12 col-sm-6">
            <div class="cta">
              <h1>Consommer moins et mieux</h1>
              <h4>Locataire ou propriétaire, tu veux réduire simplement tes factures d'énergie ?</h4>
              <!-- <a class="btn btn-primary btn-lg">Inscription</a> -->
              <!-- <p class="about">
                <%#= link_to "More about this template", "about.html" %>
              </p> -->

              <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:20px Dosis,Helvetica,sans-serif; width:100%;}
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                <form action="https://linkedin.us19.list-manage.com/subscribe/post?u=dc097760ceec18b528253532b&amp;id=a04cde6fca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                  <div id="mc_embed_signup_scroll">

                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_dc097760ceec18b528253532b_a04cde6fca" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                      <input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                  </div>
                </form>
              </div>

              <!--End mc_embed_signup-->
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="img-box">
              <%= image_tag "analyse_logement.png", class: "img-banner" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
