<!-- https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aed342eea1c8593563be90e10c423dfe&auto=format&fit=crop&w=1939&q=80 -->

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0,  0.5) 0%, rgba(0, 0, 0,  0.6) 50%), url('images/1721.jpg');"> -->
<div class="banner" >
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <!-- <div class="content-center-align"> -->
          <div class="col-xs-12 col-sm-8">
            <div class="cta">
              <h1 class="visible-xs" id="titre-xs">Consommer moins et mieux</h1>
              <h1 class="hidden-xs">Tu veux réduire facilement tes factures d'énergie ?</h1>
              <h4>Suivre ses consos et être informé c'est déjà 2O% d'économies</h4>

              <!-- Begin Mailchimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:20px Dosis,Helvetica,sans-serif; width:100%;}
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              </style>
              <div id="mc_embed_signup">
                <form action="https://linkedin.us19.list-manage.com/subscribe/post?u=dc097760ceec18b528253532b&amp;id=a04cde6fca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                  <div id="mc_embed_signup_scroll">

                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_dc097760ceec18b528253532b_a04cde6fca" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                      <input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                  </div>
                </form>
              </div>

              <!--End mc_embed_signup-->
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 hidden-xs hidden-sm text-justify">
            <div class="img-box">
              <div class="phone-box">
                <%= image_tag "phone.png", id: "phone" %>
              </div>
              <div class="sms">
                <p>Info KOOLEKO : Tranquille Emile ! Ta prochaine facture EDF du 12 novembre prochain devrait être de l'ordre de 39€, c'est bien !</p>
              </div>
            </div>
          </div>
        </div>

      <!-- </div> -->
    </div>
  </div>
</div>
