<section class="config">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>
          Totalement indépendant des fournisseurs (EDF, ENGIE...),</br> Kooleko est <strong>très facile</strong> à mettre en place.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_1_liaison.png", class: "img-config" %>
      </div>
      <div class="col-xs-12 col-sm-6 hidden-xs text-left">
        <p>A partir de ton compte Kooleko, une liaison avec ENEDIS* et ton compteur Linky et créée.</p>
        <div class="annotation">
          <p>
            * c'est eux qui gèrent le transport de l'électricité en France.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 hidden-xs text-right">
        <p>Les informations de ton contrat de fourniture d'électricité sont automatiquement détectées (fournisseur, puissance soucrite, option tarifaire...).</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_2_profil.png", class: "img-config" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_3_validation.png", class: "img-config" %>
      </div>
      <div class="col-xs-12 col-sm-6 hidden-xs text-left">
        <p>Et c'est tout, ton service Kooleko est déjà opérationnel !</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 hidden-xs text-right">
        <p>Un espace personnel te permet de modifier les réglages par défaut et de choisir par exemple la fréquence et le mode d'échange qui te vont bien (SMS, mail...).</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_4_home.png", class: "img-config" %>
      </div>
    </div>
  </div>
</section>
