<section class="config">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_1_liaison.png", class: "img-config" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_2_profil.png", class: "img-config" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_3_validation.png", class: "img-config" %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "ecran_4_home.png", class: "img-config" %>
      </div>
    </div>
  </div>
</section>
