<section class="what gray-section" id="what-section">
  <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-12 col-lg-6 text-justify">
        <div class="what-text">
          <p>Suivre et comprendre simplement sa consommation permet de faire plus de 20% d’économies.</p>
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 text-center">
        <div class="what-text">
          <p>Avec <b><em><%= data.parameters.project_name.capitalize %></em></b> tu sais à tout moment où tu en es en € sur ta prochaine facture d’électricité ou de gaz et on t’aide à trouver les meilleures solutions pour la réduire.</p>
        </div>
      </div>
    </div>
  </div>
</section>
