<section class="examples gray-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>On s'adapte à tes besoins ; un seul objectif : réduire tes factures !</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <ul class="fa-ul">
          <!-- To transform into loop with a [tab] have the elements of the list -->
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Suivi des consommations en temps réel et en € (avec des explications très simples pour mieux comprendre ce qui consomme le plus)</li>
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Optimisation de ton contrat de fourniture d'énergie : est-ce que tu as bien souscrit au contrat le plus adapté et économique ? (fournisseur, puissance...)</li>
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Recommandations sur des actions personnalisées, simples et concrètes à mettre en oeuvre (ex. "Comment régler la température de ton chauffe-eau ?)"</li>
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Anticipation des factures à venir, alertes SMS de dérive ou de dépassement d'une consommation anormale</li>
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Locataire ? Proposition de courriers ou mails type pour faire des demandes de travaux de rénovation auprès de ton propriétaire ou de ton agence</li>
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Propriétaire ? Sélection de toutes les aides qui te concernent et mise en contact avec les structures d'accompagnement locales les plus pertinentes pour tes travaux de rénovation</li>
          <li><span class="fa-li"><i class="fas fa-long-arrow-alt-right"></i></span>Aide au montage des dossiers de demandes d'aides financières auxquelles tu peux bénéficier (que tu sois locataire ou propriétaire)</li>
        </ul>
      </div>
    </div>

  </div>
</section>
