<section class="what" id="what-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-justify">
        <div class="what-text">

          <p><b><em><%= data.parameters.project_name %></em></b>, la plateforme <strong>gratuite</strong> qui utilise les données et l'intelligence artificielle afin de fournir des conseils ultra <strong>personnalisés</strong> pour réduire tes factures et améliorer ton <strong>confort</strong>.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-justify">
        <div class="what-text">
          <p>L'objectif est de permettre à tous de bénéficier d'un accompagnement <strong>sur mesure</strong> en utilisant les algorithmes pour identifier les meilleures <strong>solutions adaptées</strong> à chaque situation.</p>
        </div>
      </div>
    </div>
  </div>
</section>
