<section class="how">
  <p>#section_how</p>
  <h2>Ton assistant <strong>personnalisé</strong> aux économies d'énergie et à la réduction des factures.</h2>
  <h4>Un peu de datas, du bon sens et des solutions très simples à mettre en oeuvre !</h4>
  <div>
    <%= image_tag "analyse_vert.png", class: "img-how" %>
    <h3>Analyse</h3>
    <p>Etude de ta situation grâce à un diagnostic en ligne détaillé des consos de ton logement et à partir de données publiques disponibles.</p>
  </div>
  <div>
    <%= image_tag "exploration_vert.png", class: "img-how" %>
    <h3>Exploration</h3>
    <p>Sélectionner les actions concrètes les plus pertinentes à engager pour toi parmi la multitude de possibilités qui existent.</p>
  </div>
  <div>
    <%= image_tag "accompagnement_vert.png", class: "img-how" %>
    <h3>Accompagnement</h3>
    <p>Concrétiser chacune des solutions sélectionnées ensemble et en mesurer les économies sur les factures.</p>
  </div>
</section>
