<section class="how">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2>Ton assistant <strong>personnalisé</strong> aux économies d'énergie et à la réduction des factures.</h2>
        <h4>Un peu de datas, du bon sens et des solutions très simples à mettre en oeuvre !</h4>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-lg-4 text-center">
        <div class="info-card">
          <%= image_tag "analyse_vert.png", class: "img-how" %>
          <div class="info-text">
            <h3>Analyse</h3>
            <p>Etude de ta situation grâce à un diagnostic en ligne détaillé des consos de ton logement et à partir de données publiques disponibles.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-4 text-center">
        <div class="info-card">
          <%= image_tag "exploration_vert.png", class: "img-how" %>
          <div class="info-text">
            <h3>Exploration</h3>
            <p>Ton assistant sélectionne pour toi les actions concrètes les plus pertinentes à engager dans ton cas parmi la multitude de possibilités qui existent.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-4 text-center">
        <div class="info-card">
          <%= image_tag "accompagnement_vert.png", class: "img-how" %>
          <div class="info-text">
            <h3>Accompagnement</h3>
            <p>Concrétisation de chacune des solutions sélectionnées ensemble et tu peux rapidement mesurer les économies réalisées sur les factures.</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>



