<section class="what">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-justify">
        <div class="what-text">
          <p><%= data.parameters.project_name %>, une plateforme <strong>gratuite</strong> qui utilise les données et l'intelligence artificielle afin de fournir des <strong>conseils personnalisés</strong> pour réduire ses factures et améliorer son <strong>confort</strong>.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-justify">
        <div class="what-text">
          <p>L'objectif est de permettre à tous de bénéficier d'un <strong>accompagnement sur mesure</strong> en utilisant les algorithmes pour identifier les meilleures <strong>solutions adaptées</strong> à chaque situation.</p>
        </div>
      </div>
    </div>
  </div>
</section>
