<section class="how" id="how-section">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2>Ton assistant <strong>personnalisé</strong> aux économies d'énergie et à la réduction des factures.</h2>
        <!-- <h4>Un peu de datas, du bon sens et des solutions très simples à mettre en oeuvre !</h4> -->
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-lg-4 text-center">
        <div class="info-card">
          <%= image_tag "relaxing_vermillon.png", class: "img-how" %>
          <div class="info-text">
            <h3>Simple</h3>
            <p>Rien à installer chez toi, tout se fait en ligne par liaison simplifiée avec ton compteur (Linky ou Gazpar si tu as du gaz).</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-4 text-center">
        <div class="info-card">
          <%= image_tag "target_vermillon.png", class: "img-how" %>
          <div class="info-text">
            <h3>Sur mesure</h3>
            <p>Tu reçois chaque semaine par SMS* ton niveau de consommation en € par rapport à ta prochaine facture.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-4 text-center">
        <div class="info-card">
          <%= image_tag "order_vermillon.png", class: "img-how" %>
          <div class="info-text">
            <h3>Concret</h3>
            <p>Pas de surprise, tu anticipes et tu réduis tes factures ; Kooleko te donne tous les bons tuyaux !</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 text-right">
          <div class="annotation">
            <p>* tu choisis la fréquence et le mode d'échange qui te vont bien (SMS, mail...).</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>



