<!-- <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="footer-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <div class="footer-copyright">
          <i class="far fa-copyright"></i> <%= data.parameters.project_name %>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="far fa-copyright"></i> <%= data.parameters.project_name %>
  </div>
</div>
