.banner {
  // color: white;
  // background: url('https://www.pexels.com/photo/white-brick-wall-1092364/') no-repeat center top;
  text-align: center;
  height: calc(100vh - 70px - 158px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  min-height: 450px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .cta {
    text-align: left;
  }
  // .content-center-align {
  //   display: flex;
  //   align-items: center;
    // justify-content: center;
    .img-banner {
      width: 350px;
      padding-top: 20%;
    }
  // }
}
.banner h1 {
  padding-bottom: 30px;
  font-size: 72px;
  // color: $hight-gray;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0.5px rgba(0, 0, 0, 0.2);
}
.banner h4 {
  font-weight: normal;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  // color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#mc_embed_signup {
  background-color: rgba(0, 0, 0, 0.0) !important;
  #mc_embed_signup_scroll {
    text-align: left !important;
  }
  input.email {
    font-family: Dosis,Helvetica,sans-serif !important;
    font-size: 20px !important;
    font-weight: lighter !important;
    // border: 1px solid $light-gray !important;
    border: 0.5px solid rgba(185, 185, 185,  0.2) !important;
    border-radius: 2px !important;
    height: 53px !important;
    background-color: rgba(255, 255, 255,  0.2) !important;
  }
  input.button {
    border: none;
    font-weight: lighter;
    font-size: 25px;
    // color: #fff;
    background-color: $my-green;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    height: 53px;
  }
  input.button:hover {
    background-color: #00B06C;
    opacity: 1.2;
  }
  *::placeholder {
    /* modern browser */
    color: #D4D4D4;
  }
}
