.banner {
  // color: white;
  background-color: $my-fresh;
  text-align: center;
  height: calc(100vh - 158px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  min-height: 600px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  .cta {
    text-align: left;
  }
  // .content-center-align {
  //   display: flex;
  //   align-items: center;
    // justify-content: center;
    .img-banner {
      width: 350px;
      padding-top: 20%;
    }
  // }
}
.banner h1 {
  padding-bottom: 30px;
  font-size: 72px;
  // color: $hight-gray;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0.5px rgba(0, 0, 0, 0.2);
}

#titre-xs {
  font-size: 56px;
}

.banner h4 {
  font-weight: normal;
  color: white;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  // color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#mc_embed_signup {
  background-color: rgba(0, 0, 0, 0.0) !important;
  #mc_embed_signup_scroll {
    text-align: left !important;
  }
  input.email {
    color: white !important;
    font-family: Dosis,Helvetica,sans-serif !important;
    font-size: 20px !important;
    font-weight: lighter !important;
    // border: 1px solid $light-gray !important;
    border: 0.5px solid rgba(185, 185, 185,  0.2) !important;
    border-radius: 2px !important;
    height: 53px !important;
    background-color: rgba(255, 255, 255,  0.2) !important;
  }
  input.button {
    border: none;
    font-weight: lighter;
    font-size: 25px;
    // color: #fff;
    background-color: $my-sunshine;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    height: 53px;
  }
  input.button:hover {
    background-color: $my-sunshine-d;
    opacity: 1.2;
  }
  *::placeholder {
    /* modern browser */
    color: $my-fresh;
  }
}
.img-box {
  position: relative;
  .phone-box {
    position: absolute;
    position: relative;
    left: 10%;
    #phone {
      position: absolute;
      left: 0px;
    }
    .sms {
      line-height:15px;
      text-align: left;
      position: absolute;
      position: relative;
      left:60px;
      top: 90px;
      width: 200px;
      color: white;
      // background-color: rgba(252, 74, 26, 0.82);
      background-color: $my-vermillon-l;
      // box-shadow: 0 2px 3px 0 rgba(0, 0%, 0%, 0.2);
      border: 0px;
      border-radius: 8px;
      padding: 8px;
      margin-bottom: 10px;
      // z-index: +1;
      p {
        font-size: 14px;
      }
    }
  }
}

.tri-right.right-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -23px;
  right: auto;
  top: auto;
  bottom: 15px;
  border: 12px solid;
  border-radius: 2px;
  border-color: transparent $my-vermillon-l $my-vermillon-l transparent;
  // border-color: transparent rgba(252, 74, 26, 0.82) rgba(252, 74, 26, 0.82) transparent;
}
