body {
  color: $hight-gray;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  color: $my-green;
}

h4 {
  color: $my-green;
  font-size: 24px;
  font-weight: lighter;
}

.btn {
  border: none;
  font-weight: lighter;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

section.what {
  background-color: $verylight-gray;
  .what-text {
    padding: 30px;
  }
}

section.how {
  padding-top: 10px;
  text-align: center;
  .info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    p {
      text-align: center;
      }

  }
  .info-card {
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    height: 400px;
    img {
      height: 150px;
      margin: 10px;
    }

  }
}
