body {
  color: $hight-gray;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  color: $my-green;
}

h4 {
  color: $my-green;
  font-size: 24px;
  font-weight: lighter;
}

strong {
  color: $my-green;
}

.btn {
  border: none;
  font-weight: lighter;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.img-hiden {
  display: none;
}

section.what {
  background-color: $verylight-gray;
  .what-text {
    padding: 30px;
  }
}

section.how {
  padding-top: 10px;
  text-align: center;
  .info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    p {
      text-align: center;
      }

  }
  .info-card {
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    height: 400px;
    img {
      height: 150px;
      margin: 10px;
    }

  }
}

section.apply {
  background-color: $my-green;
  color: white;
  padding: 50px;
  h4 {
    color: white;
    text-align: center;
  }
  #mc_embed_signup {
    background-color: $my-green;
    #mc_embed_signup_scroll {
      text-align: center !important;
    }
    input.email {
      // font-family: Dosis,Helvetica,sans-serif !important;
      // font-size: 20px !important;
      // font-weight: lighter !important;
      // border: 1px solid $light-gray !important;
      // border-radius: 2px !important;
      // height: 53px !important;
      border-color: #00B06C !important;
      color: white !important;
      background-color: $my-green !important;
    }
    input.button {
      border: none;
      font-weight: lighter;
      font-size: 25px;
      color: $my-green;
      background-color: white;
      // box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
      padding: 10px 16px;
      line-height: 1.3333333;
      border-radius: 2px;
      height: 53px;
    }
    input.button:hover {
      background-color: $light-gray;
      opacity: 1.2;
    }
    *::placeholder {
    /* modern browser */
    color: #00B06C;
    }
  }
}

section.share {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}
