.big-box {
  height: calc(100vh);
  min-height: calc(350px + 400px);
}

.thanks-box {
  background-color: $my-fresh;
  text-align: center;

  height: 300px;
  background-size: cover !important;
  padding-top: 100px;
  margin-top: -70px;
  color: white;
  .ok {
    padding-bottom: 50px;
  }
}
.fa-check-circle {
  color: $my-sunshine;
  font-size: 56px;
}

.share {
  padding-top: 0px;
  padding-bottom: 50px;
  min-height: 400px;
  .img-share {
    // text-align: center;
    height: 150px;
    margin: 10px;
  }
}

.fa-share-alt {
  margin-right: 5px;
  margin-left: 5px;
}

.share-links {
  font-size: 72px;
  padding-top: 10px;
  i {
    color: $my-sunshine;
    padding-right: 20px;
    padding-left: 20px;
  }
  i:hover {
    color: $my-sunshine-d;
  }
}


