.thanks-box {
  text-align: center;
  height: calc(100vh - 70px);
  min-height: 450px;
  background-size: cover !important;
  padding-top: 30px;
}
.fa-check-circle {
  color: $my-green;
  font-size: 56px;
}
.ok {
  padding-bottom: 100px;
}

.share-links {
  font-size: 72px;
  padding-top: 25px;
  i {
    color: $hight-gray;
    padding-right: 20px;
    padding-left: 20px;
  }
  i:hover {
    color: $my-green;
  }
}
