// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #383838;

$hight-gray: #333333;
$light-gray: #F4F4F4;
$verylight-gray: #FBFBFB;

// $my-green: #01CC7D;
$my-green: rgba(1, 204, 125,  1);
$my-light-green: rgba(1, 204, 125,  0.5);

// colors palette
$my-fresh: #4abdac;     //bleu-vert
$my-vermillon: #fc4a1a; //rouge
$my-sunshine: #f7b733;  //jaune-orange
$my-clean: #dfdce3;     //gris

$my-fresh-l: #78CFC2;
$my-fresh-d: #369183;
$my-vermillon-l: #FC7C5A;
$my-vermillon-d: #D03107;
$my-sunshine-l: #F9CD71;
$my-sunshine-d: #DE990C;
$my-clean-l: #E5E2E9;
$my-clean-d: #B1A9BC;
