---
title: Bob logement
---

<div id="home">
  <%= partial "html_blocs/banner.html.erb" %>
  <%= partial "html_blocs/section_what.html.erb" %>
  <%= partial "html_blocs/section_how.html.erb" %>
  <%#= partial "html_blocs/section_examples.html.erb" %>
  <%#= partial "html_blocs/section_values.html.erb" %>
  <%= partial "html_blocs/section_apply.html.erb" %>
  <%#= partial "html_blocs/section_share.html.erb" %>
</div>
