<div class="thanks-box">
  <div class="container">
    <div class="ok">
      <i class="far fa-check-circle"></i>
      <h2>C'est tout bon !</h2>
      <p>Bravo pour ton inscription et à très vite.</p>
    </div>
    <div class="share">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6">
          <!-- <h2>Aller, fais pas le rat !</h2> -->
          <b><p></p>Aller, fais pas le rat ! Partage ce bon tuyau à tes amis :</b>
          <p>A ton échelle individuelle, c'est déjà super d'agir mais imagine l'impact global qu'on peut générer si on propage <i class="fas fa-share-alt"></i> tous le mouvement !</p>
        </div>
      </div>
      <%= partial "html_blocs/share_bloc.html.erb" %>
    </div>
  </div>
</div>
